h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: #afc7e1;
    background-color: #49a1fe;
    color: white;
    text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 5px;
}

#dropZone {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 440px;
    height: 200px;
    border: 2px dashed #ccc;
    margin-bottom: 20px;
    color: #888;

    border-radius: 10px;

    transition: all 0.2s ease;
}

#dropZone:hover {
    border-color: #666;
    background-color: #f0f0f0;
    color: black;
}

#fileInput {
    display: none;
}

.file-upload-label {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 400px;
    padding: 10px 20px;

    cursor: pointer;
    background-color: #007bff;
    /* Bootstrap primary color */
    color: white;
    border-radius: 5px;
    border: none;

    transition: all 0.2s ease;
    /* Smooth transition for effects */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Initial shadow */
}

.file-upload-label:hover {
    background-color: #0056b3;
    /* Darker blue on hover */
}

.file-upload-label:active {
    background-color: #0056b3;
    /* Keep the background color on active */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Reduced shadow on click */
    transform: translateY(2px);
    /* Move the button down slightly */
}

.metaDataContainer {
    display: flex;
}

.fileSelectionArea {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 400px;
}

.jsonContentContainerHide {
    display: none;
}

.jsonContentContainerShow {
    display: flex;
    flex-grow: 1;
    height: 240px;

    padding: 10px;
    margin-left: 10px;

    overflow: auto;

    border: 2px dashed #ccc;
    margin-bottom: 20px;
    /* color: #888; */

    border-radius: 10px;
}

#exceptionWindow {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;

    color: red;
    font-size: large;
}

.svgTreeHide {
    display: none;
}

.svgTree {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(222, 230, 231);

    border-radius: 5px;
}


.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}
.node text {
    font: 12px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

  